﻿@model WeTogetherYamal.SharedKernel.Models.EventRequest.GetEventRequestListViewModel
@using WeTogetherYamal.Constants;
@{
    ViewData["Title"] = "Админ панель";
}
<div class="container">
    <p class="event__title pt-4" style="color:black">Список заявок</p>
    <div class="d-flex flex-column justify-content-center align-content-center" style="max-width: 1150px">
        <form method="POST" asp-action="GetEventRequestList">
            <div class="d-flex gap-3 align-content-center">
                <input class="form-control mr-sm-2 nav-border nav-search" type="search" placeholder="Найти (по ФИО)" asp-for="@Model.SearchModel.SearchValue">
            
                    <select asp-for="@Model.SearchModel.EventType" id="EventType" class="form-control">
                        <option value=null selected>Фильтр по акции</option>
                        <option value="@EventTypeEnum.MemoryBookYamal">Книга памяти Ямал</option>
                        <option value="@EventTypeEnum.StoryRunsThroughHouse">История проходит через дом</option>
                        <option value="@EventTypeEnum.VictoryScarf">Шарф Победы</option>
                        <option value="@EventTypeEnum.WarLetters">Письма войны</option>
                        <option value="@EventTypeEnum.WeRemember">Мы помним</option>
                    </select>
               <select asp-for="@Model.SearchModel.City" id="City" class="form-control">
                        <option value=null selected>Фильтр по городу</option>
                        <option value="@CityEnum.Aksarka">Аксарка</option>
                        <option value="@CityEnum.Gubkinsky">Губкинский</option>
                        <option value="@CityEnum.Labytnangi">Лабытнанги</option>
                        <option value="@CityEnum.Muravlenko">Муравленко</option>
                        <option value="@CityEnum.Nadym">Надым</option>
                        <option value="@CityEnum.Noyabrsk">Ноябрьск</option>
                        <option value="@CityEnum.Salekhard">Салехард</option>
                        <option value="@CityEnum.Tazovsky">Тазовский</option>
                        <option value="@CityEnum.TarkoSale">Тарко-Сале</option>
                        <option value="@CityEnum.Hanymei">Ханымей</option>
                    </select>
           
                <button class="main-button mb-4">
                    <span>Поиск</span>
                </button>
            </div>
            
        </form>
        @if (Model?.EventRecords?.Length > 0)
        {
            @foreach (var request in Model.EventRecords)
            {
                <div class="d-flex flex-column mb-3" style="border: 2px solid #3762AA; border-radius: 8px;">
                    <p>PhoneNumber: @request?.PhoneNumber</p>
                    <p>BiographyData: @request?.BiographyData</p>
                    <p>CombatVeteranPath: @request?.CombatVeteranPath</p>
                    <p>FIO: @request?.FIO</p>
                    <p>Email: @request.Email</p>
                    <p>BirthDate: @request.BirthDate</p>
                    <p>Город: @request.CityEnum</p>
                    <p>Событие: @request.EventEnum</p>

                    @if (request?.FilePathes?.Length > 0)
                    {
                    
                        @foreach (var path in request.FilePathes)
                        {
                            <img class="image-blog my-3 mx-auto d-block" src="@path"/>
                        }

                    }
                </div>
            }
        }
        else
        {
            <div class="alert alert-warning mt-4" role="alert">
                Ничего не найдено
            </div>
        }
    </div>
</div>