﻿@model WeTogetherYamal.Api.ViewModels.UserLoginModel
@{
    ViewData["Title"] = "Админ панель";
}

<div class="modal fade" id="ModalLogin" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content card-form card-form__text" >
            <div class="form-about__title justify-content-center">
                <img class="mr-3" src="~/img/logo.png" alt="logo" class="logo">
                <h2 class="m-0">Вход в админ панель</h2>
            </div>
            <form method="post" asp-controller="AdminPanel" asp-action="Login" enctype="multipart/form-data" class="form js-form-validate">
                <div class="form-group">
                    <label asp-for="Email">Email*</label>
                    <input asp-for="Email" type="email" id="Email" name="Email" class="form-control" placeholder="Начните вводить">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Пароль*</label>
                    <input asp-for="Password" type="password" id="Password" class="form-control" placeholder="Начните вводить">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <input asp-for="ReturnUrl" type="hidden" value="@Url.RouteUrl(ViewContext.RouteData.Values)">
                <div class="d-flex justify-content-center mb-3">
                    <input id="formSubmit" type="submit" value="Войти" class="btn btn-submit">
                </div>
            </form>
        </div>
    </div>
</div>
<DIV class="container">
    <div class="about row flex-wrap justify-content-center">
        <div class="about__image col-md-3">
            <img src="~/img/aboutProject.png" alt="">
        </div>
        <div class="about__content col-md-4">
            <div class="about__title  ">
                <h2 class="text-center">О проекте</h2>
            </div>
            <div class="about__text">Проект #ПобедаВместеЯмал посвящен празднованию 76-й годовщины Победы в
                Великой Отечественной войне 1941-1945 годов и направлен на сохранение исторической памяти о
                героическом подвиге советского народа в период войны.</div>
        </div>
    </div>
    <div class="action">
        <div class="action__title">
            <h2>Акции проекта</h2>
        </div>
        <div class="action__items">
            <a asp-action="MemoryBookYamal" asp-controller="Events">
                <div class="action__items-card card col-3"><img src="~/img/MemoryBook.png" alt="">
                    <div class="card__title">Книга памяти</div>
                    <div class="card__text">подробнее</div>
                </div>
            </a>
            <a asp-action="StoryRunsThroughHouse" asp-controller="Events">
                <div class="action__items-card card col-3"><img src="~/img/HomeHistory.png" alt="">
                    <div class="card__title">История проходит через дом</div>
                    <div class="card__text">подробнее</div>
                </div>
            </a>
            <a asp-action="VictoryScarf" asp-controller="Events">
                <div class="action__items-card card col-3"><img src="~/img/Scarf.png" alt="">
                    <div class="card__title">Шарф победы</div>
                    <div class="card__text">подробнее</div>
                </div>
            </a>
            <a asp-action="WarLetters" asp-controller="Events">
                <div class="action__items-card card col-3"><img src="~/img/Letter.png" alt="">
                    <div class="card__title">Письма войны</div>
                    <div class="card__text">подробнее</div>
                </div>
            </a>
            <a asp-action="WeRemember" asp-controller="Events">
                <div class="action__items-card card col-3"><img src="~/img/WeRemember.png" alt="">
                    <div class="card__title">Мы помним</div>
                    <div class="card__text">подробнее</div>
                </div>
            </a>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        @if(!User.Identity.IsAuthenticated || (!ViewData.ModelState.IsValid && ViewBag.IsModalLogin == true))
        {
            <text> $("#ModalLogin").modal('show'); </text>
        }
    });
</script>
