﻿@model WeTogetherYamal.SharedKernel.Models.EventRequest.CreateEventRequestViewModel
@await Html.PartialAsync("../MainPage/SubmitForm", Model);
<DIV class="container">
    <div class="about row flex-wrap justify-content-center">
        <div class="about__image col-md-3">
            <img src="~/img/aboutProject.png" alt="">
        </div>
        <div class="about__content col-md-4">
            <div class="about__title  ">
                <h2 class="text-center">О проекте</h2>
            </div>
            <div class="about__text">Проект #ПобедаВместеЯмал посвящен празднованию 76-й годовщины Победы в
                Великой Отечественной войне 1941-1945 годов и направлен на сохранение исторической памяти о
                героическом подвиге советского народа в период войны.</div>
        </div>
    </div>
    <div class="action">
        <div class="action__title">
            <h2>Акции проекта</h2>
        </div>
        <div class="action__items">
            <a asp-action="MemoryBookYamal" asp-controller="Events">
                <div class="action__items-card card col-3"><img src="~/img/MemoryBook.png" alt="">
                    <div class="card__title">Книга памяти</div>
                    <div class="card__text">подробнее</div>
                </div>
            </a>
            <a asp-action="StoryRunsThroughHouse" asp-controller="Events">
                <div class="action__items-card card col-3"><img src="~/img/HomeHistory.png" alt="">
                    <div class="card__title">История проходит через дом</div>
                    <div class="card__text">подробнее</div>
                </div>
            </a>
            <a asp-action="VictoryScarf" asp-controller="Events">
                <div class="action__items-card card col-3"><img src="~/img/Scarf.png" alt="">
                    <div class="card__title">Шарф победы</div>
                    <div class="card__text">подробнее</div>
                </div>
            </a>
            <a asp-action="WarLetters" asp-controller="Events">
                <div class="action__items-card card col-3"><img src="~/img/Letter.png" alt="">
                    <div class="card__title">Письма войны</div>
                    <div class="card__text">подробнее</div>
                </div>
            </a>
            <a asp-action="WeRemember" asp-controller="Events">
                <div class="action__items-card card col-3"><img src="~/img/WeRemember.png" alt="">
                    <div class="card__title">Мы помним</div>
                    <div class="card__text">подробнее</div>
                </div>
            </a>
        </div>
    </div>
</div>