﻿@using WeTogetherYamal.Constants
@model WeTogetherYamal.SharedKernel.Models.EventRequest.CreateEventRequestViewModel
@{ ViewData["Title"] = "Создание заявки"; }

<div class="modal fade" id="ModalForm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content card-form card-form__text" >
            <div class="form-about__title justify-content-center">
                <img class="mr-3" src="~/img/logo.png" alt="logo" class="logo">
                <h2 class="m-0">Форма подачи заявки</h2>
            </div>
            <form method="post" asp-controller="MainPage" asp-action="Index" enctype="multipart/form-data" class="form js-form-validate">
                <div class="form-row flex-wrap">
                    <div class="form-group col form-group__margin">
                        <label asp-for="FIO">ФИО участника*</label>
                        <input asp-for="FIO" type="text" id="fio" class="form-control" placeholder="Начните вводить">
                        <span asp-validation-for="FIO" class="text-danger"></span>
                    </div>
                    <div class="form-group col-5">
                        <label asp-for="BirthDate">Год рождения*</label>
                        <input asp-for="BirthDate" type="date" id="birthDate" class="form-control">
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                        </div>
                </div>
                <div class="form-group">
                    <label asp-for="Address">Домашний адрес*</label>
                    <input asp-for="Address" type="text" id="Address" name="Address" class="form-control" placeholder="Начните вводить">
                    <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                <div class="form-row flex-wrap">
                    <div class="form-group col form-group__margin">
                        <label asp-for="Email">Email*</label>
                        <input asp-for="Email" type="email" id="email" class="form-control" placeholder="Начните вводить">
                        <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    <div class="form-group col-5">
                        <label asp-for="PhoneNumber">Телефон*</label>
                        <input asp-for="PhoneNumber" type="text" id="PhoneNumber" name="PhoneNumber" class="form-control" placeholder="+7 ___-___-__-__">
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                </div>
                <div class="form-group">
                    <label asp-for="EventTypeId" for="EventTypeId">Название акции, в которой вы желаете принять участие*</label>
                    <select asp-for="EventTypeId" id="EventTypeId" name="EventTypeId" class="form-control">
                        <option value="" selected disabled>Нажмите, чтобы выбрать</option>
                        <option value="@EventTypeEnum.MemoryBookYamal">Книга памяти Ямал</option>
                        <option value="@EventTypeEnum.StoryRunsThroughHouse">История проходит через дом</option>
                        <option value="@EventTypeEnum.VictoryScarf">Шарф Победы</option>
                        <option value="@EventTypeEnum.WarLetters">Письма войны</option>
                        <option value="@EventTypeEnum.WeRemember">Мы помним</option>
                    </select>
                    <span asp-validation-for="EventTypeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="CityId">Город*</label>
                    <select asp-for="CityId" id="CityId" name="CityId" class="form-control">
                        <option value="" selected disabled>Нажмите, чтобы выбрать</option>
                        <option value="@CityEnum.Aksarka">Аксарка</option>
                        <option value="@CityEnum.Gubkinsky">Губкинский</option>
                        <option value="@CityEnum.Labytnangi">Лабытнанги</option>
                        <option value="@CityEnum.Muravlenko">Муравленко</option>
                        <option value="@CityEnum.Nadym">Надым</option>
                        <option value="@CityEnum.Noyabrsk">Ноябрьск</option>
                        <option value="@CityEnum.Salekhard">Салехард</option>
                        <option value="@CityEnum.Tazovsky">Тазовский</option>
                        <option value="@CityEnum.TarkoSale">Тарко-Сале</option>
                        <option value="@CityEnum.Hanymei">Ханымей</option>
                    </select>
                    <span asp-validation-for="CityId" class="text-danger"></span>
                </div>
                <div id="formDisplay" class="display-switcher">
                    <div id="biographyDisplay" class="form-group  display-switcher">
                        <label asp-for="BiographyData" for="BiographyData">Биографические данные ветерана Великой Отечественной войны*</label>
                        <textarea asp-for="BiographyData" type="text" id="BiographyData" rows="3" name="BiographyData" class="form-control form-control__start" placeholder="ФИО, годы жизни, звание, род войск"></textarea>
                        <span asp-validation-for="BiographyData" class="text-danger"></span>
                    </div>
                    <div id="combatPathDisplay" class="form-group display-switcher">
                        <label asp-for="CombatVeteranPath" for="CombatVeteranPath">Информация о боевом пути ветерана*</label>
                        <textarea asp-for="CombatVeteranPath" type="text" rows="6" id="CombatVeteranPath" name="CombatVeteranPath" class="form-control form-control__start" placeholder="Начните вводить"></textarea>
                    </div>
                    <label>Поле вставки изображений*</label>
                    <div class="form-group">
                        <label asp-for="Files" id="labelForImages" class="form-control form-control__images" for="Files">Нажмите, чтобы выбрать файлы (Поддерживаемые форматы: JPG, PNG)</label>
                        <input asp-for="Files" type="file" id="Files" name="Files"  placeholder="Нажмите, чтобы выбрать файлы (Поддерживаемые форматы: JPG, PNG)" multiple>
                        <span asp-validation-for="Files" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group mb-5">
                    <label class=" custom-control custom-checkbox">
                        <input asp-for="IsAcceptedConditions" type="checkbox" name="IsAcceptedConditions" id="IsAcceptedConditions" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-label">Я принимаю условия политики конфиденциальности и даю согласие на обработку персональных данных<br/></span>
                        <span asp-validation-for="IsAcceptedConditions" class="text-danger"></span>
                    </label>
                </div>
                <input asp-for="ReturnUrl" type="hidden" value="@Url.RouteUrl(ViewContext.RouteData.Values)">
                <div class="d-flex justify-content-center mb-3">
                    <input id="formSubmit" type="submit" value="Отправить заявку" class="btn btn-submit">
                </div>
                <div class="d-flex justify-content-center">
                    <a class="form-link" href="#">Подробности о подаче заявки</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        @if(!ViewData.ModelState.IsValid)
        {
            <text> $("#ModalForm").modal('show').modal('handleUpdate');</text>
        }
    });
    $('#Files').change(function() {
        if (this.files.length > 0) {
            $('#labelForImages').text('');
            for (var i = 0; i < this.files.length; i++) {

                $('#labelForImages').append(this.files[i].name + '; ');
            }
        } else {
            $('#labelForImages').text("Нажмите, чтобы выбрать файлы (Поддерживаемые форматы: JPG, PNG)");
        }
    });
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}