﻿@model WeTogetherYamal.SharedKernel.Models.EventRequest.CreateEventRequestViewModel
@await Html.PartialAsync("../MainPage/SubmitForm", Model);
<div class="container">
    <div class="action__title" style="margin: 82px auto;">
        <h2>История проходит через дом</h2>
    </div>
</div>
<div class="event">
    <div class="col-md-2">
        <img class="event__img" src="~/img/HomeHistory.png" alt=""/>
    </div>
    <div class="col-md-3">
        <div class="event__title">
            <h2>Описание</h2>
        </div>
        <div class="event__text">
            Акция проекта направлена на c6op сведений о людях, проживавших во время Великой Отечественной войны в ЯНАО. 
            Расскажите о труженнике тыла, ребенке войны, узнике конц. лагеря,  жителе блокадного Ленинграда и прикрепите фотографию к заявке.
        </div>
        <div class="event__buttons">
            <button class="detailed-button">
                <span>
                    Подробнее
                </span>
            </button>
            <button type="button" class="main-button" data-toggle="modal" data-target="#ModalForm">
                <span>
                    Принять участие
                </span>
            </button>
        </div>
    </div>
</div>
@await Html.PartialAsync("CitiesCards");