﻿@model WeTogetherYamal.SharedKernel.Models.EventRequest.CreateEventRequestViewModel
@await Html.PartialAsync("../MainPage/SubmitForm", Model);
<div class="container">
    <div class="action__title" style="margin: 82px auto;">
        <h2>Письма войны</h2>
    </div>
</div>
<div class="event">
    <div class="col-md-2">
        <img class="event__img" src="~/img/Letter.png" alt=""/>
    </div>
    <div class="col-md-3">
        <div class="event__title">
            <h2>Описание</h2>
        </div>
        <div class="event__text">
            Акция проекта направлена на c6op писем участников Великой Отечественной войны. 
            Для участия в акции необходимо прикрепить к заявке копию(скан) или оригинал письма, написанного в годы ВОВ и биографические данные автора письма.
        </div>
        <div class="event__buttons">
            <button class="detailed-button">
                <span>
                    Подробнее
                </span>
            </button>
            <button type="button" class="main-button" data-toggle="modal" data-target="#ModalForm">
                <span>
                    Принять участие
                </span>
            </button>
        </div>
    </div>
</div>
@await Html.PartialAsync("CitiesCards");