@import "nullstyle.scss";
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400;500;600;700;800&family=Source+Sans+3:wght@300;400;500;600;700&display=swap");

$maxWidth: 1280;

@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

h1 {
    font-family: "Fira Sans Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #3762aa;
    display: block;
}

.header__up {
    max-width: 100%;
    max-height: 64px;
    padding: 10px 0;
    margin: 0;
}

.header__down {
    min-width: 100%;
    min-height: 136px;
    background: #3762aa;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.25);

    .navbar-items {
        font-family: "Fira Sans Condensed";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        //display: flex;
        align-items: center;
        text-align: center;

        .nav-item {
            padding: 0 15px;
        }

        &:first-child {
            padding-left: 0px;
        }

        a {
            color: #ffffff;
        }
    }

    .main-button {
        width: 180px;
        height: 44px;
        background: #ef7f1a;
        border-radius: 30px;

        span {
            font-family: "Fira Sans Condensed";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            align-items: center;
            text-align: center;

            color: #ffffff;
        }
    }
}

.about {
    display: flex;
    margin: 150px auto;
    justify-content: center;
    padding: 60px 0;
    border-top: #ef7f1a solid 5px;
    border-bottom: #ef7f1a solid 5px;

    &__image {
        margin-right: 120px;
    }

    &__title {
        font-family: "Fira Sans Condensed";
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 43px;
        color: #000000;
        margin-bottom: 40px;
    }

    &__text {
        font-family: "Source Sans 3";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        /* or 139% */

        color: #000000;
    }
}

.action {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 250px 0;

    &__title {
        font-family: "Fira Sans Condensed";
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 43px;
        align-items: center;
        text-align: center;
        color: #000000;
        margin-bottom: 80px;
    }

    &__items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__items-card {
        flex-wrap: wrap;
        margin: 20px;

        img {
            height: 180px;
            width: 180px;
        }
    }
}

.event {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto 100px auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 60px 0;
    background-color: #49AEE2;
    flex-wrap: wrap;

    &__title {
        font-family: "Fira Sans Condensed";
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 43px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        color: #ffffff;
        margin-bottom: 40px;
    }

    &__img {
        min-height: 180px !important; 
        min-width: 180px !important;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 20px auto;
        display: block;
    }

    &__text {
        font-family: "Source Sans 3";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        /* or 139% */
        color: #ffffff;
    }

    &__buttons {
        margin-top: 30px;
    }
}

.main-button {
    width: 180px;
    height: 44px;
    background: #ef7f1a;
    border-radius: 30px;
    span {
        font-family: "Fira Sans Condensed";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        align-items: center;
        text-align: center;

        color: #ffffff;
    }
}

.detailed-button {
    width: 180px;
    height: 44px;
    background: #9A9A9A;
    border-radius: 30px;
    span {
        font-family: "Fira Sans Condensed";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        align-items: center;
        text-align: center;

        color: #ffffff;
    }
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 280px;
    height: 299px;
    background: #ffffff;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin: 35px;

    &__title {
        font-family: "Fira Sans Condensed";
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        margin: 8px 0;
        color: #000000;
    }

    &__text {
        font-family: "Source Sans 3";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height */

        text-align: center;
        text-decoration-line: underline;

        color: #000000;
    }

    &:hover {
        box-shadow: 0px 0px 10px 4px #3761aa63;
    }
}

.modal-dialog {
    min-width: 1150px;
  }
  
  .form-about
  {
    &__title {
        font-family: "Fira Sans Condensed";
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 43px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        color: #000000;
        margin-bottom: 18px;
      }
  }

.card-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    padding: 35px 75px 75px 75px;
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    &__text {
        font-family: "Source Sans 3";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin: 8px 0;
        color: #000000;
    }
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url("data:image/svg+xml;utf8,<svg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M25 17.5L15 25L5 17.5' stroke='black' stroke-opacity='0.7' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/><path d='M5 11.25H25M5 6.25H25H5Z' stroke='black' stroke-opacity='0.7' stroke-width='2.5' stroke-linecap='round'/></svg>") no-repeat;
    background-position: right 1em top 50%;
}

.form-control {
    text-align: center;
    font-size: 18px;
    height: 50px;
    border: 2px solid #3762AA;
    border-radius: 12px;

    &__start {
        text-align: start !important;
    }

    &__images {
        height: 6em;
        justify-content:center;
        display: flex;
        align-items: center;
    }
  }

  #images {
    opacity: 0;
    position: absolute;
    z-index: -1;
 }

  .form-group {
    padding-bottom: 0px;
    margin-bottom: 20px;
    padding: 0 !important;
    &__margin {
        margin-right: 50px;
    }
  }

  .custom-control-input:checked~.custom-control-label::before {
    width: 30px;
    height: 30px;
  }
  
  .custom-control-input:checked~.custom-control-label::after {
    width: 30px;
    height: 30px;
  }
  
  .custom-control-input~.custom-control-label::before {
    background-color: white;
    border: 2px solid #3762AA;
    border-radius: 10px;
    width: 30px;
    height: 30px;
  }
  
  .custom-control-input~.custom-control-label::after {
    border: 2px solid #3762AA;
    border-radius: 10px;
    width: 30px;
    height: 30px;
  }
  
  .custom-control-label {
    padding-top: 0.4em;
    padding-left: 1.3em;
  }
  
  .custom-checkbox {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .form-link {
    text-decoration: underline !important;
    color: #000000;
    &:hover {
        color: #2331f7;
    }
  }

footer {
    background: #3762aa;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.25);
}

.list-item {
    font-family: "Source Sans 3";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #ffffff;

    padding: 15px 0;
    padding-left: 50px;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 34px 0 20px 0;

    &__museums {
        .list-item {
            background: url(../img/museum.png) no-repeat 0 12px;
        }
    }

    &__title {
        font-family: "Fira Sans Condensed";
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */

        display: flex;
        align-items: center;
        margin-bottom: 15px;
        color: #ffffff;
    }

    &__contacts {
        .list-item:first-child {
            background: url(../img/vk.png) no-repeat 0 8px;
        }

        .list-item:nth-child(2) {
            background: url(../img/instagram.png) no-repeat -5px 8px;
        }

        .list-item:nth-child(3) {
            background: url(../img/OK.png) no-repeat 3px 8px;
        }

        .list-item:nth-child(4) {
            background: url(../img/mail.png) no-repeat 0 15px;
        }
    }
}

::-webkit-input-placeholder {
    text-align: center;
    font-size: 18px;
    font-family: "Source Sans 3";
    font-style: normal;
 }
 
 .btn-submit {
    min-height: 50px;
    min-width: 300px;
    background-color: #EF7F1A;
    color: #FFFFFF;
    border-radius: 12px;
    font-family: "Source Sans 3";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
  }

  .display-switcher {
      display: none;
  }