﻿@model WeTogetherYamal.SharedKernel.Models.EventRequest.CreateEventRequestViewModel
@await Html.PartialAsync("../MainPage/SubmitForm", Model);
<div class="container">
    <div class="action__title" style="margin: 82px auto;">
        <h2>#ПобедаВместеАксарка</h2>
    </div>
</div>

<div class="container">
   <div class="row justify-content-around" style="margin-bottom: 36px;">
        <div class="col">
            <img src="~/img/PlugImage_1.png" />
        </div>
        <div class="col">
            <img src="~/img/PlugImage_2.png" />
        </div>
   </div>
    <div class="row justify-content-around" style="margin-bottom: 36px;">
        <div class="col">
            <img src="~/img/PlugImage_2.png" />
        </div>
        <div class="col">
            <img src="~/img/PlugImage_1.png" />
        </div>
   </div>
   <div class="row justify-content-around" style="margin-bottom: 36px;">
        <div class="col">
            <img src="~/img/PlugImage_1.png" />
        </div>
        <div class="col">
            <img src="~/img/PlugImage_2.png" />
        </div>
   </div>
</div>