﻿<DIV class="container">
    <div class="action" style="margin-top: 0px;">
        <div class="action__title ">
            <h2>Альбомы городов</h2>
        </div>
        <div class="action__items ">
            <a asp-action="Index" asp-controller="Gallery">
                <div class="action__items-card card col-3"><img src="~/img/Aksarka.png" alt="">
                    <div class="card__title">Аксарка</div>
                    <div class="card__text">посмотреть</div>
                </div>
            </a>
            <a asp-action="Index" asp-controller="Gallery">
                <div class="action__items-card card col-3"><img src="~/img/Gubkinskii.png" alt="">
                    <div class="card__title">Губкинский</div>
                    <div class="card__text">посмотреть</div>
                </div>
            </a>
            <a asp-action="Index" asp-controller="Gallery">
                <div class="action__items-card card col-3"><img src="~/img/Labintangi.png" alt="">
                    <div class="card__title">Лабытнанги</div>
                    <div class="card__text">посмотреть</div>
                </div>
            </a>
            <a asp-action="Index" asp-controller="Gallery">
                <div class="action__items-card card col-3"><img src="~/img/Muravlenko.png" alt="">
                    <div class="card__title">Муравленко</div>
                    <div class="card__text">посмотреть</div>
                </div>
            </a>
            <a asp-action="Index" asp-controller="Gallery">
                <div class="action__items-card card col-3"><img src="~/img/Nadim.png" alt="">
                    <div class="card__title">Надым</div>
                    <div class="card__text">посмотреть</div>
                </div>
            </a>
            <a asp-action="Index" asp-controller="Gallery">
                <div class="action__items-card card col-3"><img src="~/img/Noyabrsk.png" alt="">
                    <div class="card__title">Ноябрьск</div>
                    <div class="card__text">посмотреть</div>
                </div>
            </a>
            <a asp-action="Index" asp-controller="Gallery">
                <div class="action__items-card card col-3"><img src="~/img/Salehard.png" alt="">
                    <div class="card__title">Салехард</div>
                    <div class="card__text">посмотреть</div>
                </div>
            </a>
            <a asp-action="Index" asp-controller="Gallery">
                <div class="action__items-card card col-3"><img src="~/img/Tazovski.png" alt="">
                    <div class="card__title">Тазовский</div>
                    <div class="card__text">посмотреть</div>
                </div>
            </a>
            <a asp-action="Index" asp-controller="Gallery">
                <div class="action__items-card card col-3"><img src="~/img/TarkoSale.png" alt="">
                    <div class="card__title">Тарко-Сале</div>
                    <div class="card__text">посмотреть</div>
                </div>
            </a>
            <a asp-action="Index" asp-controller="Gallery">
                <div class="action__items-card card col-3"><img src="~/img/Hanmei.png" alt="">
                    <div class="card__title">Ханымей</div>
                    <div class="card__text">посмотреть</div>
                </div>
            </a>
        </div>
    </div>
</DIV>