﻿@using LamarCodeGeneration.Frames
<header>
    <div class="header__up">
        <div class="container ">
            <h1>#ПобедаВместеЯмал</h1>
        </div>
    </div>
    <nav class="header__down navbar navbar-expand-xl header-bg">
        <a class="navbar-brand header__brand" asp-action="Index" asp-controller="MainPage">
            <img src="~/img/logo.png" width="100" height="100"
                class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-dark navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-dark navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <div class="container">
                <ul class="navbar-nav justify-content-center">
                    <li class="nav-item" style="padding-left: 0px;">
                        <a class="nav-link menu__item" aria-current="page" asp-action="MemoryBookYamal" asp-controller="Events">Книга памяти Ямал</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu__item" asp-action="StoryRunsThroughHouse" asp-controller="Events">История проходит через дом</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu__item" asp-action="VictoryScarf" asp-controller="Events">Шарф Победы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu__item" asp-action="WarLetters" asp-controller="Events">Письма войны</a>
                    </li>
                    <li class="nav-item" style="padding-right: 0px;">
                        <a class="nav-link menu__item" asp-action="WeRemember" asp-controller="Events">Мы помним</a>
                    </li>
                    @{
                        if (ViewContext.RouteData.Values.Values.Any(x => x.ToString() == "AdminPanel"))
                        {
                            if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item row justify-content-center mb-3 mt-3">
                                    <button class="main-button">
                                        <a class="menu__item" href="@Url.Action("Logout", "AdminPanel")">Выйти</a>
                                    </button>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item row justify-content-center mb-3 mt-3">
                                    <button class="main-button" data-toggle="modal" data-target="#ModalLogin">
                                        <span>Войти в систему</span>
                                    </button>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="nav-item row justify-content-center mb-3 mt-3">
                                <button class="main-button" data-toggle="modal" data-target="#ModalForm">
                                    <span>Принять участие</span>
                                </button>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>